# Weather data source
OPEN_METEO_BASE_URL=https://api.open-meteo.com/v1/forecast

# Database
POSTGRES_USER=silid
POSTGRES_PASSWORD=silid
POSTGRES_DB=silid
POSTGRES_PORT=5432

# Airflow
AIRFLOW_UID=50000 #uses the default airflow user id of 50000 to avoid permission issues when running airflow commands in the container
AIRFLOW_PORT=8080
AIRFLOW_ADMIN_USERNAME=admin
AIRFLOW_ADMIN_PASSWORD=admin
AIRFLOW_ADMIN_EMAIL=admin@example.com

# Application settings
TIMEZONE=Asia/Manila
